<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyms</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>

<body>
  <header class="header-bar">
    <h1 class="header-title">Gyms</h1>
    <nav class="header-nav">
        <a href="/trainers" class="header-link">Trainers</a>
        <a href="/pokemon" class="header-link">Pokemon</a>
        <a href="/gyms" class="header-link">Gyms</a>
        <a href="/regions" class="header-link">Regions</a>
        <a href="/trainerGyms" class="header-link">TrainerGyms</a>
    </nav>
  </header>
  <main>
    <p><strong>Browse Gyms</strong></p>

    <table id="gym-table" border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Gym ID</th>
          <th>Gym Name</th>
          <th>Type</th>
          <th>Region</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.gym_id}}</td>
          <td>{{this.gym_name}}</td>
          <td>{{this.type}}</td>
          <td>{{this.region_name}}</td>
          <td><a href="/delete_gyms/{{this.gym_id}}" class="table_button">Delete</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="addUpdateButtons">
      <button type="button" onclick="openUpdateModal()">Update a Gym</button>
      <button type="button" onclick="openAddModal()">Add New Gym</button>
    </div>

    <div id="update-gym-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeUpdateModal()">&times;</span>
        <h2>Update Gym</h2>
        <form id="update-gym-form">
          <label for="choose-gym-name">Trainer: </label>
          <select name="choose-gym-name" id="mySelectGym">
            <option value="test">Select a Gym</option>
            {{#each data}}
            <option value="{{this.gym_id}}">{{this.gym_name}}</option>
            {{/each}}
          </select><br><br>

          <label for="name">Name:</label>
          <input type="text" id="name" required><br><br>

          <label for="type">Type:</label>
          <input type="text" id="type" required><br><br>

          <label for="region">Region Located:</label>
          <select name="input-region" id="input-update-region">
            <option value="">Select a Region</option>
            {{#each regions}}
            <option value="{{this.region_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>
          <input type="submit" onclick="closeUpdateModal()">
        </form>
      </div>
    </div>

    <div id="add-gym-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <h2>Add Gym</h2>
        <form id="add-gym-form">
          <label for="gym-name">Name:</label>
          <input type="text" id="gym-name" required><br><br>

          <label for="gym-type">Type:</label>
          <input type="text" id="gym-type" required><br><br>

          <label for="gym-region">Region Located:</label>
          <select name="input-add-region" id="input-add-region">
            <option value="">Select a Region</option>
            {{#each regions}}
            <option value="{{this.region_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>
          <input type="submit" onclick="closeAddModal()">
        </form>
      </div>
    </div>

  </main>
  <!-- To link external javascript file -->
  <script src="/js/gymfuncs.js"></script>
  <script src="/js/add_gym.js"></script>
</body>

</html>