<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyms</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Gyms</h1>
    <nav>
      <ul>
        <li><a href="/trainers">Trainers</a> - List of trainers on their journey. Be able to view their name, age, and
          home region.</li>
        <li><a href="/pokemon">Pokemon</a> - Various pokemon listed with their type, region they were found, and
          registered trainer.</li>
        <li><a href="/gyms">Gyms</a> - Gyms available for trainers to challenge, with their type, region and current
          leader</li>
        <li><a href="/regions">Regions</a> - The different regions available in the world</li>
        <li><a href="/trainerGyms">TrainerGyms</a> - A record of successful gym challenges, holding the badge name, gym
          it originates from, the trainer who earned it and the date they earned it.</li>
      </ul>
    </nav>
  </header>
  <main>
    <p><strong>Browse Gyms</strong></p>

    <table id="gym-table" border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Gym ID</th>
          <th>Gym Name</th>
          <th>Type</th>
          <th>Region</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.gym_id}}</td>
          <td>{{this.gym_name}}</td>
          <td>{{this.type}}</td>
          <td>{{this.region_name}}</td>
          <td><a href="/delete_gym/{{this.trainer_id}}" class="table_button">Delete</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="addUpdateButtons">
      <button type="button" onclick="openUpdateModal()">Update a Gym</button>
      <button type="button" onclick="openAddModal()">Add New Gym</button>
    </div>

    <div id="update-gym-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeUpdateModal()">&times;</span>
        <h2>Update Gym</h2>
        <form id="update-gym-form">
          <label for="choose-gym-name">Trainer: </label>
          <select name="choose-gym-name" id="mySelectGym">
            <option value="test">Select a Gym</option>
            {{#each data}}
            <option value="{{this.gym_id}}">{{this.gym_name}}</option>
            {{/each}}
          </select><br><br>

          <label for="name">Name:</label>
          <input type="text" id="name" required><br><br>

          <label for="type">Type:</label>
          <input type="text" id="type" required><br><br>

          <label for="region">Region Located:</label>
          <select name="input-region" id="input-update-region">
            <option value="">Select a Region</option>
            {{#each regions}}
            <option value="{{this.region_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>
          <input type="submit" onclick="closeUpdateModal()">
        </form>
      </div>
    </div>

    <div id="add-gym-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <h2>Add Gym</h2>
        <form id="add-gym-form">
          <label for="name">Name:</label>
          <input type="text" id="name" required><br><br>

          <label for="type">Type:</label>
          <input type="text" id="type" required><br><br>

          <label for="region">Region Located:</label>
          <select name="input-region" id="input-update-region">
            <option value="">Select a Region</option>
            {{#each regions}}
            <option value="{{this.region_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>
          <input type="submit" onclick="closeAddModal()">
        </form>
      </div>
    </div>

  </main>
  <!-- To link external javascript file -->
  <script src="/js/gymfuncs.js"></script>
</body>

</html>