<!--
    Project: Trainer Challenger Index
    Authors: Bernardo Mendes and Gage Davelaar
-->

<!-- trainers.hbs -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse Trainer Records</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>

<body>
  <header class="header-bar">
    <h1 class="header-title">Trainer Challenger Index - Trainers</h1>
    <nav class="header-nav">
        <a href="/trainers" class="header-link">Trainers</a>
        <a href="/pokemon" class="header-link">Pokemon</a>
        <a href="/gyms" class="header-link">Gyms</a>
        <a href="/regions" class="header-link">Regions</a>
        <a href="/trainerGyms" class="header-link">TrainerGyms</a>
    </nav>
  </header>
  <main>
    <p class="entity-header"><strong>Browse Trainers</strong></p>

    <table class="entity-table" id="trainers-table" border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Trainer ID</th>
          <th>Trainer Name</th>
          <th>Age</th>
          <th>Home Region</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.trainer_id}}</td>
          <td>{{this.trainer_name}}</td>
          <td>{{this.age}}</td>
          <td>{{this.region_name}}</td>
          <td><a href="/delete_trainer/{{this.trainer_id}}" class="table_button">Delete</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="addUpdateButtons">
      <button type="button" onclick="openUpdateModal()">Update a Trainer</button>
      <button type="button" onclick="openAddModal()">Add New Trainer</button>
    </div>

    <div id="update-trainer-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeUpdateModal()">&times;</span>
        <h2>Update Trainer</h2>
        <form id="update-trainer-form">
          <label for="choose-trainer-name">Trainer: </label>
          <select name="choose-trainer-name" id="mySelectTrainer">
            <option value="test">Select a Trainer</option>
            {{#each data}}
            <option value="{{this.trainer_id}}">{{this.trainer_name}}</option>
            {{/each}}
          </select><br><br>

          <label for="input-name">Name:</label>
          <input type="text" id="input-update-name" required><br><br>

          <label for="input-age">Age:</label>
          <input type="number" id="input-update-age"><br><br>

          <label for="input-region">Home Region:</label>
          <select name="input-region" id="input-update-region">
            <option value="">Select a Region</option>
            {{#each regions}}
            <option value="{{this.region_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>

          <input type="submit" onclick="closeUpdateModal()">
        </form>
      </div>
    </div>

    <div id="add-trainer-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <h2>Add Trainer</h2>
        <form id="add-trainer-form">
          <label for="input-name">Name:</label>
          <input type="text" id="input-name" required><br><br>

          <label for="input-age">Age:</label>
          <input type="number" id="input-age"><br><br>

          <label for="input-region">Home Region:</label>
          <select name="input-region" id="input-region">
            <option value="">Select a Region</option>
            {{#each regions}}
            <option value="{{this.region_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>

          <input type="submit" onclick="closeAddModal()">
        </form>
      </div>
    </div>

  </main>
  <!-- To link external javascript file -->
  <script src="/js/update_trainers.js"></script>
  <script src="/js/add_trainers.js"></script>
  <script src="/js/trainerfuncs.js"></script>

  <footer>
    <p>&copy; 2025 Trainer Challenge Index. All rights reserved.</p>
</footer>
</body>
