<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,  initial-scale=1.0">
  <title>TrainerGyms</title>

  <!-- To link external styling file -->
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header>
    <h1>Trainer Gym Record</h1>
    <nav>
      <ul>
        <li><a href="/trainers">Trainers</a> - List of trainers on their journey. Be able to view their name, age, and
          home region.</li>
        <li><a href="/pokemon">Pokemon</a> - Various pokemon listed with their type, region they were found, and
          registered trainer.</li>
        <li><a href="/gyms">Gyms</a> - Gyms available for trainers to challenge, with their type, region and current
          leader</li>
        <li><a href="/regions">Regions</a> - The different regions available in the world</li>
        <li><a href="/trainerGyms">TrainerGyms</a> - A record of successful gym challenges, holding the badge name, gym
          it originates from, the trainer who earned it and the date they earned it.</li>
      </ul>
    </nav>
  </header>
  <main>
    <p><strong>Browse Trainer Gym Badge Records</strong></p>
    <table id="trainergym-table" border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Trainer Name</th>
          <th>Badge Name</th>
          <th>Date Earned</th>
        </tr>
      </thead>
      <tbody>
        {{!-- For each row, print the id, name, age, region_id, in order --}}
        {{#each data}}
        <tr>
          <td>{{this.trainer_name}}</td>
          <td>{{this.badge_name}}</td>
          <td>{{this.date_earned}}</td>
          <td><a href="/delete_trainerGym/{{this.trainer_id}}" class="table_button">Delete</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="addUpdateButtons">
      <button type="button" onclick="openUpdateModal()">Update a Trainer Gym</button>
      <button type="button" onclick="openAddModal()">Add New Trainer Gym</button>
    </div>

    <div id="update-trainergym-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeUpdateModal()">&times;</span>
        <h2>Update Gym</h2>
        <form id="update-trainergym-form">
          <label for="choose-gym-name">TrainerGym: </label>
          <select name="choose-gym-name" id="mySelectTrainergym">
            <option value="test">Select a TrainerGym</option>
            {{#each data}}
            <option value="{{this.gym_id}}">{{this.gym_name}}</option>
            {{/each}}
          </select><br><br>

          <label for="trainer">Trainer:</label>
          <select name="input-trainer" id="input-update-trainer">
            <option value="">Select a Trainer</option>
            {{#each trainers}}
            <option value="{{this.trainer_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>

          <label for="date">Date Earned:</label>
          <input type="date" id="date" required><br><br>

          <input type="submit" onclick="closeUpdateModal()">
        </form>
      </div>
    </div>

    <div id="add-trainergym-modal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <h2>Add Gym</h2>
        <form id="add-trainergym-form">
          <label for="trainergym-name">Badge Name:</label>
          <input type="text" id="trainergym-name" required><br><br>

          <label for="trainergym-gym">Gym:</label>
          <select name="choose-gym-name" id="trainergym-gym">
            <option value="test">Select a Gym</option>
            {{#each gyms}}
            <option value="{{this.gym_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>

          <label for="trainergym-trainer">Trainer:</label>
          <select name="input-trainer" id="trainergym-trainer">
            <option value="">Select a Trainer</option>
            {{#each trainers}}
            <option value="{{this.trainer_id}}">{{this.name}}</option>
            {{/each}}
          </select><br><br>

          <label for="trainergym-date">Date Earned:</label>
          <input type="date" id="trainergym-date" required><br><br>

          <input type="submit" onclick="closeAddModal()">
        </form>
      </div>
    </div>



  </main>
  <!-- To link external javascript file -->
  <script src="/js/trainergymfuncs.js"></script>
  <script src="/js/add_trainergym.js"></script>
</body>

</html>