<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>TrainerGyms</title>

    <!-- To link external styling file -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Hidden table for entering new data -->
    <script>
      function showForm() {
        document.getElementById("trainerGymsForm").style.display = "block";
      }
      function submitTrainerGym() {
        let name    = document.getElementById("name").value;
        let gym     = document.getElementById("gym").value;
        let trainer = document.getElementById("trainer").value;
        let date    = document.getElementById("date").value;

        if (name && gym && trainer && date) {
          alert(`Trainer Added:\nName: ${name}\ngym: ${gym}\nTrainer: ${trainer}\nDate: ${date}`);
          document.getElementById("trainerGymsForm").style.display = "none";
        } else {
          alert("Please fill in all fields.");
        }
      }
    </script>
</head>

<body>
    <header>
        <h1>Trainer Gym Record</h1>
        <nav>
          <ul>
            <li><a href="/trainers">Trainers</a></li>
            <li><a href="/pokemon">Pokemon</a></li>
            <li><a href="/gyms">Gyms</a></li>
            <li><a href="/regions">Regions</a></li>
            <li><a href="/trainerGyms">TrainerGyms</a></li>
          </ul>
        </nav>
    </header>
    <main>
        <p><strong>Browse Trainer Gym Badge Records</strong></p>

        <button type="button" onclick="showForm()">Add New Badge Record</button>

        <form id="trainerGymsForm">
          <label for="name">Badge Name:</label>
          <input type="text" id="name" required><br><br>

          <label for="gym">Gym:</label>
          <input type="text" id="gym" required><br><br>

          <label for="trainer">Trainer:</label>
          <input type="text" id="trainer" required><br><br>

          <label for="date">Date Earned:</label>
          <input type="date" id="date" required><br><br>

        <button type="button" onclick="submitTrainerGym()">Submit</button>
        </form>

        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Trainer Name</th>
                <th>Badge Name</th>
                <th>Date Earned</th>
            </tr>
            </thead>
            <tbody>
                {{!-- For each row, print the id, name, age, region_id, in order --}}
                {{#each data}}
                <tr>
                    <td>{{this.trainer_name}}</td>
                    <td>{{this.badge_name}}</td>
                    <td>{{this.date_earned}}</td>

                    <td>
                        <a href="/update_trainerGym/{{this.trainer_id}}" class="table_button">Update</a>
                        <a href="/delete_trainerGym/{{this.trainer_id}}" class="table_button">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2025 Trainer Challenge Index. All rights reserved.</p>
    </footer>
    <!-- To link external javascript file -->
    <script src="scripts.js"></script>
</body>

</html>
